img {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  background: #f0f0f0;
  font-family: Arial, sans-serif;
}

.container {
  background: #fff;
  width: 100%;
  max-width: 1000px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.container h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: lighter;
  color: #3f3f95;
}

#task {
  width: 95%;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline-color: #3f3f95;
}

.container #add-task {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background: #eebe66;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
}

#add-task:hover {
  background: #cca358;
}

.card h5 {
  font-weight: lighter;
  font-size: xx-large;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: #3f3f95;
  margin: 10px auto 10px auto;
}

#filter {
  width: 95%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline-color: #3f3f95;
}

.collection {
  width: 85%;
  list-style-type: none;
  text-align: left;
  position: relative;
  margin: 0.5rem 20px 1rem;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(224, 224, 224);
  border-image: initial;
  border-radius: 2px;
  overflow: hidden;
  display: none;
}

.collection-item {
  background-color: rgb(255, 255, 255);
  line-height: 1.5rem;
  padding: 10px 20px;
  margin: 0px;
  border-bottom: 1px solid rgb(224, 224, 224);
}

.delete {
  text-decoration: none;
  color: red;
  line-height: 1;
  text-rendering: auto;
}

#clear-tasks {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background: #eebe66;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  margin-top: 15px;
}

#clear-tasks:hover {
  background: #cca358;
}
